body {background-color:lightgrey}


h1 {
    color:#40E0D0; 
    background-color: whitesmoke;
}

article {
    background-color: whitesmoke;
    float: left;
   
}

aside{
    background-color: whitesmoke;
    float: right;
}

table {
    background-color: whitesmoke;
    float: right;

}

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #40E0D0 ;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

button{
    color: whitesmoke;
    background-color: #40E0D0;
    text-align: center;
    font-size: 16px;
}



 .box1{
    float: left;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: black;
    background-color: whitesmoke;
    @media (max-width: 600px) {
        section {
          -webkit-flex-direction: column;
          flex-direction: column;
        }
      }

}

.box2{
  float: right;
  color: black;
    background-color: whitesmoke;
    @media (max-width: 600px) {
        section {
          -webkit-flex-direction: column;
          flex-direction: column;
        }
      }
}
}